.List {
  height: 62.5%;
  overflow-y: scroll;
  align-items: center;
}

.list-item {
  display: flex;
  width: 100%;
  height: 25%;
}

.list-item:nth-child(2n) {
  background-color: #35548b;
}

.List:nth-child(1) {
  background-color: red;
}

.list-item-name {
  width: 70%;
}

.list-item-price {
  width: 30%;
  font-size: 30px;
  justify-content: center;
}
